.advantages {
  margin-top: 50px;
  text-align: center;
}

.advantages__slogan {
  margin: 0;
}

.advantages__slogan-item {
  display: block;
}

.advantages__fille {
  background-color: @gray;
}

.advantages__list {
  padding: 0;

  list-style: none;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
}
