.button-form {
  display: block;
  width: 100%;
  padding: 17px 0;
  border: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #2aab6d;

  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
  }
}

@media (min-width: 660px) {
  .button-form {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .button-form--close {
    width: 460px;
  }
}
