.contacts {
  text-align: center;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item-container {
  width: 280px;
  margin: 0 auto;
}

.contacts__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contacts__description {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  color: @red-color;
}

@media (min-width: 660px) {
  .contacts__heading {
    width: 580px;
    margin: 0 auto;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    flex-grow: 1;
  }
}
