.contacts {
  padding-top: 42px;

  text-align: center;
}

.contacts__wrapper {
  position: relative;
  padding-bottom: 38px;

  &::after {
    content: "";

    position: absolute;
    bottom: -35px;
    left: 0;
    z-index: 2;

    width: 0;
    height: 0;
    border-top: 35px solid #ffffff;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
  }
}

.contacts__heading {
  margin-bottom: 36px;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__item-container {
  padding-top: 2px;
  width: 280px;
  margin: 0 auto;
}

.contacts__name {
  margin: 0;
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contacts__description {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  color: @red-color;
}

.contacts__description--link {
  &:hover,
  &:focus {
    text-decoration: underline;
    color: @asphalt;
  }

  &:active {
    text-decoration: none;
    color: rgba(40, 54, 69, 0.3);
  }
}

.contacts__map {
  position: relative;
  height: 200px;

  overflow: hidden;

  &::after {
    content: "";

    position: absolute;
    top: 96px;
    left: 142px;

    display: none;
    width: 36px;
    height: 36px;
    border: 10px solid #ffffff;

    background-color: @red-color;

    border-radius: 50%;
  }
}

.contacts__map-container iframe {
  width: 320px;
  height: 374px;
}

.contacts__map-img {
  position: relative;
  top: -444px;
  z-index: -1;
}

@media (min-width: 660px) {
  .contacts {
    padding-top: 47px;
  }

  .contacts__wrapper {
    padding-bottom: 30px;

    &::after {
      bottom: -68px;
      border-top: 68px solid #ffffff;
      border-left: 330px solid transparent;
      border-right: 330px solid transparent;
    }
  }

  .contacts__heading {
    width: 570px;
    margin: 0 auto;
    margin-bottom: 44px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    flex-grow: 1;
    margin-bottom: 38px;

    &--tel {
      width: 300px;
      max-width: 300px;
    }

    &--mail {
      width: 310px;
      max-width: 310px;
    }
  }

  .contacts__description--mail {
    display: block;
    padding-left: 20px;
  }

  .contacts__name {
    margin-bottom: 7px;
  }

  .contacts__map {
    height: 374px;

    &::after {
      top: 193px;
      left: 312px;
    }
  }

  .contacts__map-container {
    position: relative;
    z-index: 1;
  }

  .contacts__map-container iframe {
    width: 660px;
    height: 502px;
  }

  .contacts__map-img {
    top: -315px;
  }
}

@media (min-width: 1200px) {
  .contacts {
    padding-top: 67px;
  }

  .contacts__wrapper {
    padding-bottom: 10px;

    &::after {
      bottom: -103px;
      border-top: 103px solid #ffffff;
      border-left: 600px solid transparent;
      border-right: 600px solid transparent;
    }
  }

  .contacts__heading {
    margin-bottom: 56px;
  }

  .contacts__item {
    flex-basis: 240px;

    &--adress {
      margin: 0 34px;
    }
  }

  .contacts__item--mail {
    order: 3;
  }

  .contacts__list {
    padding: 0 120px;
  }

  .contacts__name {
    margin-bottom: 24px;
  }

  .contacts__map {
    height: 502px;

    &::after {
      top: 263px;
      left: 582px;
    }
  }

  .contacts__map-container iframe {
    width: 1200px;
  }

  .contacts__map-img {
    top: -277px;
  }
}
