.copyright {
  display: flex;
}

.copyright__text {
  line-height: 18px;
  font-weight: normal;

  margin-top: 6px;
  margin-right: 8px;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: @asphalt;
}

.copyright__link:active .copyright__icon {
  fill: rgba(40, 54, 69, 0.3);
}

.copyright__icon {
  fill: @red-color;
}

@media (min-width: 1200px) {
  .copyright {
    margin-top: 16px;
  }
}
