.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #283645;
}

.main-nav__togle {
  position: absolute;
  top: 20px;
  right: 19px;

  width: 24px;
  height: 23px;
  border: 0;

  background-color: transparent;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: -4px;

    width: 32px;
    height: 5px;

    background-color: #ffffff;

    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: rgba(210, 40, 86, 1);
  }

  &:focus::before,
  &:focus::after {
    background-color: @red-transparent;
  }
}

@media (min-width: 660px) {
  .main-nav__togle {
    top: 44px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    background-color: transparent;
    line-height: 18px;
    font-weight: lighter;
    text-transform: none;
  }

  .main-nav__togle {
    display: none;
  }
}
