.page-title__heading {
  text-align: center;
}

.page-title__heading--hidden {
  display: none;

  margin: 0;
  padding: 0 40px;
}


@media (min-width: 660px) {
  .page-title {
    padding: 0 10px;
  }

  .page-title__heading--hidden {
    display: block;
  }
}
