.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__blockquote {
  margin: 0;

  text-align: center;
}

.slider__heading {
  margin: 0;
}

.slider__cite-author {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.slider__cite-author-about {
  display: none;
}

.slider__text {
  margin: 0;
  margin-top: 12px;
}

@media (min-width: 660px) {
  .slider__blockquote {
    display: flex;
    flex-direction: column;
  }

  .slider__heading {
    order: 1;

    margin-top: 35px;
  }

  .slider__cite-author {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }

  .slider__cite-author-about {
    display: block;

    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: @asphalt;
  }

  .slider__text {
    margin-top: 29px;

    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .slider__text {
    margin-top: 0;
  }

  .slider__cite-author {
    font-size: 24px;
  }

  .slider__cite-author-about {
    font-size: 18px;
  }
}
