.social {
  display: flex;
  justify-content: space-between;

  width: 177px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-bottom: 10px;
}

.social__link {
  display: flex;
  justify-content: center;

  width: 51px;
  height: 51px;
  border: 3px solid rgba(40, 54, 69, 0.1);

  border-radius: 50%;
}
