.study {
  display: none;
}

.study__clock {
  position: relative;

  width: 298px;
  height: 345px;

  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-size: 238px 276px;
}

.study__hours {
  position: absolute;
  top: 56px;
  left: 19px;

  display: block;
  width: 202px;
  height: 202px;
  border: 14px solid @red-color;

  font-size: 96px;
  line-height: 161px;
  color: @red-color;
  text-align: center;

  border-radius: 50%;
}

.study__content {
  width: 310px;
  margin-top: 38px;
  padding-right: 20px;

  text-align: left;
}

.study__title {
  margin: 0;
  padding-right: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.study__description {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  padding-right: 10px;

  font-size: 14px;
  line-height: 24px;
}

.study__link {
  display: block;
  margin-top: 5px;

  color: @red-color;
  text-decoration: underline;
}

@media (min-width: 660px) {
  .study {
    display: block;
  }

  .study__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .study {
    display: block;

    background-color: @gray;
  }

  .study__container {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 68px;
  }

  .study__clock {
    background-size: auto auto;
  }

  .study__hours {
    top: 72px;
    left: 23px;

    width: 253px;
    height: 253px;
    border: 18px solid @red-color;

    font-size: 120px;
    line-height: 200px;
  }

  .study__content {
    width: 570px;
    margin-top: 97px;
  }

  .study__title {
    line-height: 30px;
  }

  .study__description {
    margin-top: 23px;

    font-size: 18px;
    line-height: 30px;
  }

  .study__link {
    margin-top: 32px;
  }
}
