.tools {
  display: flex;
  align-items: center;

  width: 208px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;
}

.tools__item--fill {
  margin-left: 34px;
  margin-right: 40px;
}

.tools__button {
  padding: 0;
  border: none;

  background-color: transparent;
}

.tool-controls {
  display: none;
}

@media (min-width: 660px) {
  .tools {
    display: flex;
    flex-direction: column;

    width: auto;
    margin-top: -14px;
  }

  .tools__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 18px;
    min-height: 70px;
    border-bottom: 2px solid #dddfe0;
  }

  .tools__item--fill {
    margin: 0;
  }

  .tools__icon {
    &--crop {
    width: 22px;
    height: 22px;
    }

    &--fill {
    width: 24px;
    height: 22px;
    }

    &--contrast {
    width: 16px;
    height: 16px;
    }
  }

  .tool-controls {
    display: block;
    margin-top: 34px;
    margin-bottom: 34px;
  }
}

@media (min-width: 1200px) {
  .tools__icon {
    &--crop {
    width: 44px;
    height: 44px;
    }

    &--fill {
    width: 48px;
    height: 43px;
    }

    &--contrast {
    width: 32px;
    height: 32px;
    }
  }

  .tools {
    margin-top: -3px;
  }

  .tools__item {
    padding-left: 2px;
    padding-right: 30px;
  }
}
